* {
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #226973;
}

.header__logo {
  width: 60vw;
  padding: 2vh;
}

.header__list {
  color: #e9e9e9;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2vh;
  font-size: 0.8rem;
}

.header__list__item a{
  font-size: 0.8rem;
}

.header__list__item a:hover {
  cursor: pointer;
}

.body {
  padding: 2vh 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__img {
  width: 50vw;
}

.body__paragraph p{
  padding: 0px 12vw;
  padding-top: 1vh;
  color: #226973;
}

.body__border__paragraph {
  color: #226973;
  margin: 3.6vh 7.5vw;
  padding: 1.5vh 4.5vw;
  border-top: 4px solid #226973;
  border-bottom: 4px solid #226973;
}

.body__last__paragraph {
  margin-bottom: 1.5vh;
  padding: 0px 12vw;
  color: #226973;
}

.fa {
  color: #226973;
  font-size: 1.8rem!important;
  
}

.footer__list {
  padding: 1.5vh 0px;
  justify-content: space-evenly;
  list-style: none;
  display: flex;
}

.footer__list__item {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-radius: 100%;
}

.footer__list__item:hover {
  cursor: pointer;
}

.footer {
  background-color: #226973;
}

.footer__text {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  color: #e9e9e9;
  padding: 0.7vh;
}

.footer__text__first {
  border-right: 2px solid #e9e9e9;
}

.footer__text p {
  padding: 0px 2vw;
  font-size: 0.75rem;
}

@media only screen and (max-width: 370px){
  * {
    font-size: 16px;
  }

  .fa {
    font-size: 2rem!important;
  }
}

@media only screen and (min-width:768px){
  * {
    font-size: 25px;
  }

  .header__logo {
    width: 50vw;
  }

  .body__img {
    width: 40vw;
  }

  .footer__list__item {
    height: 55px;
    width: 55px;
  }

  .fa {
    font-size: 1.4rem!important;
  }

  .footer__list {
    justify-content: center;
  }

  .footer__list__item {
    margin: 0 3.5vw;
  }
}

@media only screen and (min-width:1024px){
  * {
    font-size: 30px;
  }

  .header__logo {
    width: 30vw;
  }

  .body {
    padding: 2vh 5vw;
  }

  .footer__list__item {
    height: 50px;
    width: 50px;
  }

  .footer__text__first {
    border-right: 4px solid #e9e9e9;
  }

  .body__img {
    width: 30vw;
  }

  .footer__text p{
    font-size: 0.6rem;
  }

  .fa {
    font-size: 1.2rem!important;
  }

  .body__border__paragraph {
    padding: 3vh 4.5vw;
  }
}

@media only screen and (min-width:1440px){
  * {
    font-size: 30px;
  }

  .footer__list__item {
    margin: 0 2.5vw;
  }

  .body__img {
    width: 25vw;
  }

  .header__logo {
    width: 20vw;
  }
 
  .body {
    padding: 2vh 8vw;
  }

  .body__border__paragraph {
    padding: 3vh 3vw;
    margin: 3.6vh 9vw;
  }

}

@media only screen and (min-width:1920px) {
  .body {
    padding: 2vh 14vw;
  }

  .body__border__paragraph {
    padding: 3vh 2vw;
    margin: 3.6vh 10vw;
  }

}
